html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
/* Hide selection */
::selection {
    background-color: transparent;
}
.poem {
    margin: 0;
    line-height: 2;
    font-size: 2em;
}
.line {
    display: block;
}
/* ======
   Kveður
   ====== */
.line > .k:nth-of-type(odd) {
    /* Hákveður */
    border: 1px solid black;
    border-width: 1px 1px 0 0;
}
.line > .k:nth-of-type(even) {
    /* Lágkveður */
    border: 1px solid black;
    border-width: 0 1px 1px 0;
}
.line > .k:last-of-type {
    border-right: none;
}

.aa {
    /* Áhersluatkvæði */
    text-decoration: underline;
}
.al {
    position: relative;
}
.al::after {
    /* Áherslulaust atkvæði */
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 0.3125em; /* 1px with 2em font size */
    width: 100%;
    /* Curved underline */
    box-shadow: inset 0px -0.0625em 0px; /* 2px with 2em font size */
    border-radius: 50%;
}

/* Show non-space chars on screen to make editing easier */
@media screen {
    .char {
        background-color: lightgray;
        margin-right: 2px;
        cursor: pointer;
    }
    .char.space {
        background-color: transparent;
    }
}
