html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.poem {
    margin: 0;
    line-height: 2;
    font-size: 2em;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.line {
    display: block;
}
/* ======
   Kveður
   ====== */
/* Hákveður */
.line > .k:nth-of-type(odd) {
    border: 1px solid;
    border-width: 1px 1px 0 0;
}
/* Lágkveður */
.line > .k:nth-of-type(even) {
    border: 1px solid;
    border-width: 0 1px 1px 0;
}
.line > .k:last-of-type {
    border-right: none;
}

/* Áhersluatkvæði, áherslulaus atkvæði */
.aa::before, .al::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    height: 0.3125em; /* 1px with 2em font size */
    width: 100%;
}

/* Áhersluatkvæði */
.aa {
    position: relative;
}
.aa::before {
    /* Straight line */
    box-shadow: inset 0px -0.0625em 0px; /* 2px with 2em font size */
}

/* Áherslulaus atkvæði */
.al {
    position: relative;
}
.al::before {
    /* Curved line */
    box-shadow: inset 0px -0.0625em 0px; /* 2px with 2em font size */
    border-radius: 50%;
}

/* Ljóðstafir */
.ls {
    font-weight: bold;
}

/* Braghvíld */
.bh::after {
    content: " //";
}

/* Contraction */
.con::after {
    content: "’";
}

/* Show non-space chars on screen to make editing easier */
@media screen {
    .char {
        background-color: lightgray;
        margin-right: 2px;
        cursor: pointer;
    }
    .char.space {
        background-color: transparent;
    }
}
/* Dark Mode */
@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #ddd;
    }
    .char {
        background-color: #666;
    }
}
